
// Font.
$font: (
  primary: ("Karla",sans-serif),
  monospace: (Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace)
);

// Palette.
$palette: (
  charcoal:          #C6C5BF,
  charcoal-light-3:  lighten(#C6C5BF, 3%),
  charcoal-light-7:  lighten(#C6C5BF, 7%),
  charcoal-light-15: lighten(#C6C5BF, 15%),
  charcoal-light-25: lighten(#C6C5BF, 25%),
  charcoal-light-40: lighten(#C6C5BF, 40%),
  charcoal-light-60: lighten(#C6C5BF, 60%),
  charcoal-light-75: lighten(#C6C5BF, 75%),
  charcoal-light-80: lighten(#C6C5BF, 80%),
  charcoal-dark-15:  darken(#C6C5BF, 15%),
  accent:            #F76750,
  accent-blue:       #0c8aea,
  accent-green:      #0da5b1,
  accent-violet:     #7c43a8,
  accent-yellow:     #ed9700
);

@import "imports/functions";

@import "../../static/assets/css/fontawesome.min.css";
@import "../../static/assets/css/brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/portfolio";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
